body, html {
    height: 100%;
    margin: 0;
    font-family: Quicksand, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("./mainBackground.png");
    /* Add the blur effect */
    filter: blur(12px);
    -webkit-filter: blur(12px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
      margin-top:240px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.7px #000;
  }
  .logo{
      height:230px;
      width:650px;
  }